<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{{asset('images/favicon.png')}}"/>
        <title>{% block title %}Homepage{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/bootstrap-grid.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/bootstrap-reboot.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/jquery.dataTables.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v3.3&appId=2140704912894827&autoLogAppEvents=1"></script>
        {% endblock %}
    </body>
</html>
